In [1]:
import os
import sys
import importlib.util

is_installed = importlib.util.find_spec("gtsystem")
if not is_installed:
    print ('Not using PyPi')
    module_path = ".."
    sys.path.append(os.path.abspath(module_path))
else:
    print ('Loaded gtsystem')

from gtsystem import leaderboard, render

In [2]:
leaders = leaderboard.read_leaderboard('../data/leaderboard-2024-0413.xlsx')
render.df(leaders, 10)

In [3]:
render.df(leaderboard.model('GPT-4'))

In [5]:
render.df(leaderboard.vendor('Anthropic'))