In [1]:
import os
import sys
import importlib.util

is_installed = importlib.util.find_spec("gtsystem")
if not is_installed:
    print ('Not using PyPi')
    module_path = ".."
    sys.path.append(os.path.abspath(module_path))
else:
    print ('Loaded gtsystem')

from gtsystem import openai, bedrock, ollama, groq, render, tasks

In [2]:
tasks.load('../data/openai-examples-21.xlsx')

In [3]:
render.df(tasks.find('extract'))

In [4]:
render.df(tasks.list(0, 5))

In [5]:
task = tasks.get('Grammar correction')

In [6]:
render.md(openai.text(*task))

She did not go to the market.

In [7]:
task = tasks.get('Parse unstructured data')

In [8]:
render.md(bedrock.sonnet_text(*task))

Here is the data parsed into CSV format:

Fruit Name,Color,Flavor Description
neoskizzles,purple,"tastes like candy"
loheckles,grayish blue,"very tart, a little bit like a lemon"
pounits,bright green,"more savory than sweet"
loopnovas,neon pink,"tastes like cotton candy"
glowls,pale orange,"very sour and bitter taste which is acidic and caustic"

In [9]:
task = tasks.get('Summarize for a 2nd grader')

In [10]:
render.md(ollama.mistral_text(*task))

 Jupiter is a big planet that is the fifth one from the Sun in our Solar System. It's larger than all the other planets combined and is also known as a gas giant. Jupiter is really bright and has been seen in the night sky since ancient times. We named it after the Roman god, Jupiter. When looked at from Earth, Jupiter can be so bright that its light reflects shadows, making it the third-brightest object in the night sky, after the Moon and Venus.

In [11]:
task = tasks.get('Calculate time complexity')

In [12]:
render.md(groq.text(*task))

The time complexity of this code is O(n * k).

The outer loop (for i in range(n)) runs n times, and for each iteration of the outer loop, the inner loop (for l in range(k)) runs k times. Therefore, the time complexity is proportional to n * k.