In [1]:
import sys
import os

module_path = os.path.abspath("..")
if module_path not in sys.path:
    sys.path.insert(0, module_path)

from gtsystem import openai, bedrock, ollama, groq, render, tasks

In [2]:
tasks.load('../data/openai-examples-21.xlsx')

In [3]:
render.df(tasks.find('extract'))

In [4]:
render.df(tasks.list(0, 5))

In [5]:
task = tasks.get('Grammar correction')

In [6]:
render.md(openai.text(*task))

She did not go to the market.

In [7]:
task = tasks.get('Parse unstructured data')

In [8]:
render.md(bedrock.sonnet_text(*task))

Here's the data in CSV format:

Fruit Name,Color,Taste,Description
Neoskizzles,Purple,Sweet,"Taste like candy"
Loheckles,Grayish Blue,Tart,"A little bit like a lemon"
Pounits,Bright Green,Savory,"More savory than sweet"
Loopnovas,Neon Pink,Sweet,"Taste like cotton candy"
Glowls,Pale Orange,Sour and Bitter,"Very sour and bitter taste, acidic and caustic"

In [9]:
task = tasks.get('Summarize for a 2nd grader')

In [10]:
render.md(ollama.mistral_text(*task))

 Jupiter is a big planet that is the fifth one from the Sun in our Solar System. It's larger than all the other planets put together and is named after the Roman god Jupiter. You can see it clearly in the night sky as it's one of the brightest objects. It's usually the third-brightest natural object after the Moon and Venus. Jupiter is a gas giant and is much bigger than the Sun, but not as big as a thousand Suns! Ancient civilizations have known about Jupiter for a long time. When we look at it from Earth, it can be bright enough to make shadows on the ground.

In [11]:
task = tasks.get('Calculate time complexity')

In [12]:
render.md(groq.text(*task))

The time complexity of this code is O(n \* k).

Here's the reasoning:

1. There are two nested loops in the code: `for i in range(n)` and `for l in range(k)`.
2. The outer loop runs `n` times, and for each iteration of the outer loop, the inner loop runs `k` times.
3. Therefore, the total number of iterations of the inner loop is `n * k`.
4. Since the body of the inner loop contains an arithmetic operation (`accum += i`) that takes constant time, the time complexity of the code is O(n \* k).