In [7]:
import os
import sys
import importlib.util

is_installed = importlib.util.find_spec("gtsystem")
if not is_installed:
    print ('Not using PyPi')
    module_path = ".."
    sys.path.append(os.path.abspath(module_path))
else:
    print ('Loaded gtsystem')

from gtsystem import bedrock, openai, anthropic, render, instrument

In [8]:
prompt = """Create a markdown table of 5 tallest buildings in the world"""

In [9]:
render.md(bedrock.text(prompt))

Here's a markdown table of the 5 tallest buildings in the world:

| Rank | Building Name | Height (meters) | Height (feet) | Location |
|------|----------------|-----------------|----------------|----------|
| 1    | Burj Khalifa   | 828             | 2,717          | Dubai, United Arab Emirates |
| 2    | Shanghai Tower | 632             | 2,073          | Shanghai, China |
| 3    | Abraj Al-Bait Clock Tower | 601  | 1,972          | Mecca, Saudi Arabia |
| 4    | Ping An Finance Center | 599     | 1,965          | Shenzhen, China |
| 5    | Lotte World Tower | 554.5        | 1,819          | Seoul, South Korea |

In [10]:
render.md(openai.text(prompt))

Here's a markdown table of the 5 tallest buildings in the world as of my last update:

| Rank | Building Name            | City            | Country       | Height (m) | Floors | Year Completed |
|------|--------------------------|-----------------|---------------|------------|--------|----------------|
| 1    | Burj Khalifa             | Dubai           | UAE           | 828        | 163    | 2010           |
| 2    | Shanghai Tower           | Shanghai        | China         | 632        | 128    | 2015           |
| 3    | Abraj Al-Bait Clock Tower| Mecca           | Saudi Arabia  | 601        | 120    | 2012           |
| 4    | Ping An Finance Centre   | Shenzhen        | China         | 599        | 115    | 2017           |
| 5    | Lotte World Tower        | Seoul           | South Korea   | 555        | 123    | 2016           |

Please note that the rankings and details such as height, number of floors, and year completed are subject to change as new buildings are completed and existing records are updated.

In [11]:
render.md(anthropic.sonnet_text(prompt))

Here's a markdown table of the 5 tallest buildings in the world:

| Rank | Building Name | Height (meters) | Height (feet) | Location |
|------|----------------|-----------------|----------------|----------|
| 1    | Burj Khalifa   | 828             | 2,717          | Dubai, United Arab Emirates |
| 2    | Shanghai Tower | 632             | 2,073          | Shanghai, China |
| 3    | Abraj Al-Bait Clock Tower | 601  | 1,972          | Mecca, Saudi Arabia |
| 4    | Ping An Finance Center | 599     | 1,965          | Shenzhen, China |
| 5    | Lotte World Tower | 554.5        | 1,819          | Seoul, South Korea |

In [12]:
render.md(instrument.metrics.stats())

| Model | Calls | Total Time | Total Return Size | Average Time | Average Size |
|-------|-------|------------|-------------------|--------------|--------------|
| gtsystem.anthropic.sonnet_text | 2 | 7.01 | 1340.00 | 3.50 | 670.00 |
| gtsystem.bedrock.sonnet_text | 2 | 10.41 | 1340.00 | 5.21 | 670.00 |
| gtsystem.openai.gpt4_text | 2 | 19.38 | 2173.00 | 9.69 | 1086.50 |