In [1]:
import sys
import os

module_path = os.path.abspath("..")
if module_path not in sys.path:
    sys.path.insert(0, module_path)

In [ ]:
from gtsystem import bedrock, openai, anthropic, render, instrument

In [2]:
prompt = """Create a markdown table of 5 tallest buildings in the world"""

In [3]:
render.md(bedrock.text(prompt))

Here's a markdown table of the 5 tallest buildings in the world:

| Rank | Building Name | Height (meters) | Height (feet) | Location |
|------|----------------|-----------------|----------------|----------|
| 1    | Burj Khalifa   | 828             | 2,717          | Dubai, United Arab Emirates |
| 2    | Shanghai Tower | 632             | 2,073          | Shanghai, China |
| 3    | Abraj Al-Bait Clock Tower | 601  | 1,972          | Mecca, Saudi Arabia |
| 4    | Ping An Finance Center | 599     | 1,965          | Shenzhen, China |
| 5    | Lotte World Tower | 554.5        | 1,819          | Seoul, South Korea |

In [4]:
render.md(openai.text(prompt))

Here's a markdown table of the 5 tallest buildings in the world as of my last update:

| Rank | Building Name            | City            | Country       | Height (m) | Floors | Year Completed |
|------|--------------------------|-----------------|---------------|------------|--------|----------------|
| 1    | Burj Khalifa             | Dubai           | UAE           | 828        | 163    | 2010           |
| 2    | Shanghai Tower           | Shanghai        | China         | 632        | 128    | 2015           |
| 3    | Abraj Al-Bait Clock Tower| Mecca           | Saudi Arabia  | 601        | 120    | 2012           |
| 4    | Ping An Finance Centre   | Shenzhen        | China         | 599        | 115    | 2017           |
| 5    | Lotte World Tower        | Seoul           | South Korea   | 555        | 123    | 2016           |

Please note that the heights are to architectural top (including spires but not antennas, masts, or flagpoles). This list is subject to change as new buildings are completed.

In [5]:
render.md(anthropic.text(prompt))

Here's a markdown table of the 5 tallest buildings in the world:

| Rank | Building Name | Height (meters) | Height (feet) | Location |
|------|----------------|-----------------|----------------|----------|
| 1    | Burj Khalifa   | 828             | 2,717          | Dubai, United Arab Emirates |
| 2    | Shanghai Tower | 632             | 2,073          | Shanghai, China |
| 3    | Abraj Al-Bait Clock Tower | 601  | 1,972          | Mecca, Saudi Arabia |
| 4    | Ping An Finance Center | 599     | 1,965          | Shenzhen, China |
| 5    | Lotte World Tower | 554.5        | 1,819          | Seoul, South Korea |